<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="UTF-8">
  <title>TabiRaku</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <!--style.css-->
    <link rel="stylesheet" href="style.css">
    
    <!--favicon/アイコン-->
    <link rel="icon" href="/fabicon2.ico">
    <script src="https://kit.fontawesome.com/1c80078f58.js" crossorigin="anonymous"></script>
        <!--スマホサイト用viewport-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
  
<body>
<div id="wrapper" class="all">
 <div class="pt-2" >
          <header>
            <div class="picture"style="height: 20%;">
                <img  src="logo.png" alt="logo" title="logo">
                </img>
            </div>
          </header>
          
         <main>
          <p>確認画面</p>
          <form action="/confirm" method="get">
              <h1><%= @name %></h1>
            
              <p> 計画者:<%= @planner %></p>
            
              <p>目的:<%= @purpose %></p>
              <p>集合場所:<%= @where %></p>
              <p>参加者:<br>
              <%= @participent1 %></p>
              <p><%= @participent2 %></p>
              <p><%= @participent3 %></p>
              <p><%= @participent4 %></p>
              <p><%= @participent5 %></p>
              <p>行程:<br>
              <p><%= @activity1 %></p>
              ↓
              <p><%= @activity2 %></p>
              ↓
              <p><%= @activity3 %></p>
              ↓
              <p><%= @activity4 %></p>
              ↓
              <p><%= @activity5 %></p>
              <p>注意事項:<%= @caution %></p>
          </form> 



          <form action="/confirm" method="post">
              <input type="submit" class="btn btn--orange btn--radius" value="みんなに共有しよう！">
          </form>
              <input type="button" class="btn btn--orange btn--radius mt-3 mb-3" onclick="history.back()" value="変更する">
        </main> 
 </div>
   <footer class="bg-dark text-white"  >
    <div class="under">© 2022 TsuboTsubo</div>
   </footer>
</div>
</body>
</html>